{% extends "base.html" %}
{% block title %}Tentang Saya{% endblock %}

{% block content %}
    <div class = "max-w-xl mx-auto">
        <h1 class = "text-3xl font-bold text-center text-slate-800"> Tentang Saya </h1>
        <div class = "mt-6 bg-white p-6 rounded-lg shadow text-center">
            <i class="fas fa-user-tie text-6xl text-slate-600 mt-2"></i>
            <p class = "mt-4 text-slate-600" >
                <a href="https://erwien-wijaya.me" class = "text-blue-600 hover:underline">https://erwien-wijaya.me</a>
            </p>
        </div>
        <div class = "mt-6 text-center" >
            <a href = "https://github.com/erwienwijaya/quiz-online" target="_blank" class = "text-slate-600 hover:text-blue-800"><i class="fa-brands fa-github-alt mr-2 text-lg text-slate-600"></i>Source Code - Quiz Online</a>
        </div>
    </div>
{% endblock %}